@using UploadImages.ViewModels;
@model CreateProductViewModel;
@{
    ViewData["Title"] = "Product toevoegen";
}

<h1>
    Product toevoegen
</h1>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Product.Naam" class="control-label"></label>
        <input asp-for="Product.Naam" class="form-control" />
        <span asp-validation-for="Product.Naam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Afbeelding" accept="image/" onchange="previewFile()" />
        <span asp-validation-for="Afbeelding" class="text-danger"></span>
    </div>
    <div class="form-group ">
        <input type="submit" value="Toevoegen" class="btn btn-primary"/>
    </div>
</form>

<a asp-action="Index">Terug naar overzicht</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}